@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background: #fff;
  color: #fff;
}

.login__btn {
  color: #043873;
  background: #ffe492;
  border-radius: 8px;
  padding: 16px 40px;
  margin-right: 1.5rem;
  margin-left: 18px;
  transition: all 400ms linear;
}

.login__btn:hover {
  color: #fff;
  background: #4f9cf9;
}

.common__btn {
  color: #fff;
  background: #4f9cf9;
  border-radius: 8px;
  padding: 16px 24px;
  transition: all 400ms linear;
}

.common__btn:hover {
  background-color: #ffe492;
  color: #043873;
}

.common__btn img {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.section__padding {
  padding: 140px 0;
}

/* ===HEADER START=== */

.header__area {
  background: #043873;
  padding: 1rem 0;
}

.header__area nav .container .nav-link {
  font-family: "DM Sans", sans-serif;
  font-weight: 500;
  margin-right: 2rem;
  color: #fff;
}

.container .navbar-toggler {
  outline: none;
}

.navbar-toggler .navbar-toggler-icon {
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---MEDIA QUERIES--- */

@media (max-width: 991px) {
  .navbar-brand img {
    width: 150px;
  }
  .navbar-nav {
    margin-top: 2rem;
  }

  .navbar-nav .nav-item .nav-link {
    position: relative;
  }

  .navbar-nav .nav-item .nav-link::after {
    position: absolute;
    top: 1.2rem;
    right: 0;
  }

  .header__area .navbar-toggler {
    box-shadow: none !important;
  }
  .login__btn {
    margin-top: 2rem;
    margin-right: 0rem;
    margin-left: 0;
    margin-bottom: 0.5rem;
    width: 100%;
  }

  .navbar-collapse .common__btn {
    width: 100%;
  }
}

/* ===HEADER END=== */

/* ===HERO SECTION START=== */

.hero {
  width: 100%;
  height: 100vh;
  background-image: url(./images/Hero-section.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center;
}

.hero__heading {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  letter-spacing: -0.02em;
  margin-top: 326px;
}

.hero__para {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;

  letter-spacing: -0.02em;

  margin-top: 20px;
  margin-bottom: 60px;
}

.hero__right {
  max-width: 1000px;
  max-height: 1000px;
  background: rgba(204, 204, 204, 0.2);
  margin-top: 232px;
}

@media (max-width: 991px) {
  .hero__heading {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
    margin-top: 136px;
  }

  .hero .row {
    text-align: center;
  }
}

/* ===HERO SECTION END=== */

/* ===MANAGEMENT SECTION START=== */

.section__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #212529;
}

.section__title span {
  background-image: url(./images/Element.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section__para {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  letter-spacing: -0.02em;

  color: #212529;
}

/* .management {
  background: #fff;
} */

.first__left {
  padding: 68px 68px 68px 0;
}

.first__left .common__btn {
  margin-top: 30px;
}

.second {
  margin-top: 100px;
}

.second__right {
  padding: 183.5px 0 183.5px 100px;
}

.second__right .common__btn {
  margin-top: 30px;
}

@media (max-width: 991px) {
  .section__title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }

  .first__left {
    padding: 0;
    text-align: center;
  }

  .management p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .section__para {
    line-height: 30px;
    letter-spacing: -0.02em;
  }
  .first__left .common__btn {
    margin-bottom: 100px;
  }

  .second .second__left {
    order: 2;
  }

  .second .second__right {
    margin-bottom: 60px;
    padding: 0;
    text-align: center;
    order: 1;
  }
}

/* ===MANAGEMENT SECTION END=== */

/* ===Extention SECTION START=== */

.extention {
  background: #043873;
}

.extention__left h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.extention__left h1 span {
  position: relative;
  z-index: 1;
}

.extention__left h1 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  background-image: url(./images/Element.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.extention__left p {
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .extention .container .row {
    text-align: center;
  }
  .extention__left h1 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .extention__left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .extention__left .common__btn {
    margin-bottom: 60px;
  }
}

/* ===EXTENTION SECTION END=== */

/* ===CUSTOMISE SECTION START=== */

/* .customise {
  background: #fff;
} */

.customise__right h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
  color: #043873;
}

.customise__right h1 span {
  position: relative;
  z-index: 1;
}

.customise__right h1 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  background-image: url(./images/Element.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.customise__right p {
  margin-bottom: 60px;
  color: #043873;
}

@media (max-width: 991px) {
  .customise .container .row {
    text-align: center;
  }
  .customise__right h1 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
  }
  .customise__right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .customise__right .common__btn {
    margin-bottom: 60px;
  }
}

/* ===CUSTOMISE SECTION END=== */

/* ===PRICING SECTION START=== */

/* .pricing {
  background: #fff;
} */

.pricing .pricing__title h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #212529;
}

.pricing .pricing__title p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #212529;
}

.pricing__title h1 span {
  position: relative;
  z-index: 1;
}

.pricing__title h1 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  background-image: url(./images/Element.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.pricing__cards {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.pricing__box__free {
  background: #ffffff;
  border: 1px solid #ffe492;
  border-radius: 10px;
  padding: 40px 44px;

  color: #000;
}
.pricing__box__free h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.pricing__box__free p {
  display: flex;
  align-items: center;
  gap: 19px;
}

.pricing__box__Personal {
  background: #043873;
  color: #fff;
  padding: 80px 44px;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.pricing__box__Personal h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
}

.pricing__box__Personal h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  color: #ffe492;
}

.pricing__box__Personal p {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.pricing__box__Personal .first__para {
  font-weight: 500;
  margin-top: 25px;
}

.pricing__box__Personal img {
  margin-right: 19px;
}

.free__btn {
  background: #ffffff;
  border: 1px solid #ffe492;
  border-radius: 8px;
  padding: 16px 40px;
}

@media (max-width: 991px) {
  .pricing .pricing__title h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
  }
  .pricing__box__free {
    padding: 20px;
    margin-bottom: 30px;
  }

  .pricing__box__Personal {
    padding: 20px;
    margin-bottom: 30px;
  }
}

/* ===PRICING SECTION END=== */

/* ===WORK SECTION START== */

.work {
  background-color: #043873;
  color: #fff;
}

.work h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
}

.work p {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  margin-top: 24px;
  margin-bottom: 60px;
}

.work h1 span {
  position: relative;
  z-index: 1;
}

.work h1 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  background-image: url(./images/Element.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

@media (max-width: 991px) {
  .work h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
}

/* ===WORK SECTION END== */

/* ===DATA SECTION START=== */

.data {
  background-color: #fff;
}

.data h1 span {
  position: relative;
  z-index: 1;
}

.data h1 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  background-image: url(./images/Element.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

/* ===DATA SECTION END=== */

/* ===SPONSOR SECTION START=== */

.sponsor h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  text-align: center;
  letter-spacing: -0.02em;
  color: #212529;
}

.sponsor h1 span {
  position: relative;
  z-index: 1;
}

.sponsor h1 span::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  left: 0;
  bottom: 0;
  background-image: url(./images/Element.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -1;
}

.sponsor .apple {
  height: 68px;
  width: 56px;
}
.sponsor .microsoft {
  height: 68px;
  width: 287px;
}
.sponsor .slack {
  height: 68px;
  width: 287px;
}
.sponsor .google {
  height: 68px;
  width: 216px;
}

.sponsor__img {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin-top: 100px;
}

@media (max-width: 991px) {
  .sponsor {
    padding-top: 0;
  }
  .sponsor h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: -0.02em;
  }
  .sponsor__img {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .sponsor .apple {
    height: 60px;
    width: 50px;
  }
  .sponsor .microsoft {
    height: 60px;
    width: 200px;
  }
  .sponsor .slack {
    height: 60px;
    width: 200px;
  }
  .sponsor .google {
    height: 60px;
    width: 200px;
  }
}

/* ===SPONSOR SECTION END=== */

/* ===APP SECTION START=== */

.app {
  background: url(./images/Hero-section.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.app h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 87px;
  letter-spacing: -0.02em;
}

.app__left {
  padding-right: 40px;
}

.app__right p {
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .app h1 {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: -0.02em;
  }

  .app__left {
    padding-right: 0px;
    margin-bottom: 100px;
  }
  .app__right {
    text-align: center;
  }

  .app__right h1 {
    margin-bottom: 2rem;
  }
}

/* ===APP SECTION END=== */

/* ===TESTIMONIAL SECTION START===  */

.testimonial__card {
  margin-top: 60px;
}

.testimonial__card__light {
  padding: 60px 40px;
  box-shadow: 15px 10px 50px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.testimonial__card .quote__img {
  width: 86px !important;
  height: 62px;
  display: block;
  margin-bottom: 2rem;
}

.testimonial__para {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: -0.02em;
  color: #212529;
}

.testimonial__profile {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}

.testimonial__profile img {
  width: 85px !important;
  height: 85px;
  margin-right: 20px;
}

.testimonial__profile__content p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #212529;
}

.testimonial__profile__content h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #212529;
}

.testimonial__card__light hr {
  background-color: #043873;
}

.testimonial__card__dark {
  background: #4f9cf9;
  border-radius: 10px;
  padding: 60px 40px;
}

.testimonial__card__dark .testimonial__para {
  color: #fff;
}

.testimonial__card__dark hr {
  background: #fff;
}

.testimonial__card__dark .testimonial__profile__content p {
  color: #fff;
}

@media (max-width: 991px) {
  .testimonial__card__light,
  .testimonial__card__dark {
    padding: 10px;
    margin-bottom: 2rem;
  }

  .testimonial__profile {
    flex-direction: column;
    align-items: start;
  }
}

.testimonial__card .owl-carousel .owl-dots {
  text-align: center;
}

.testimonial__card .owl-carousel .owl-dots button {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #4f9cf9;
  margin-top: 3rem;
  margin-left: 5px;
}

.testimonial__card .owl-carousel .owl-dots button.active {
  background: #043873;
}

/* ===TESTIMONIAL SECTION END=== */
